@using YemekSiparisProjesi.Models


@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>

    <title>Kayıt Ekranı</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/Content/css/loginstyle.css">

</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Bir Hesabınız Yok Mu? Kayıt Olun</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-5">
                    <div class="login-wrap p-4 p-md-5">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-user-o"></span>
                        </div>
                        <h3 class="text-center mb-4">KAYIT OL</h3>
                        <div class="w-100 text-md-center">
                        </div>
                        <form role="form" action="/Kullanici/Register" method="post" class="login-form">
                            <div class="form-group">
                                <input type="text" class="form-control rounded-left" placeholder="Ad" name="KullaniciAd" id="inputName" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control rounded-left" placeholder="Soyad" name="KullaniciSoyad" id="inputSurname" required>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control rounded-left" placeholder="Mail Adres" name="MailAdress" id="inputEmail" required>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control rounded-left" placeholder="Tel No" name="KullaniciTelNo" required>
                            </div>
                            <div class="form-group d-flex">
                                <input type="password" class="form-control rounded-left" placeholder="Şifre" name="KullaniciSifre" id="inputPassword" required>
                            </div>
                            @*<fieldset>
                                <legend>Kullanıcı Tipinizi Seçiniz</legend>
                                <input type="checkbox" name="KullaniciNo1" value="Kullanıcı"> Kullanıcı<br>
                                <input type="checkbox" name="KullaniciNo2" value="İşletme"> İşletme<br>
                                <input type="checkbox" name="KullaniciNo3" value="Admin"> Admin<br>
                            </fieldset>*@
                            <br />
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary rounded submit px-3">Kayıt Ol</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

</body>
</html>
